<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.vcampus.dao.IBookMapper">

    <!--<resultMap id="book" type="com.vcampus.entity.Book">
        <result property="ISBN" column="ISBN"/>
        <result property="_name" column="_name"/>
        <result property="_introduction" column="_introduction"/>
        <result property="_number" column="_number"/>
        <result property="_author" column="_author"/>
        <result property="_authorCountry" column="_authorCountry"/>
        <result property="_publishingHouse" column="_publishingHouse"/>
        <result property="_tabs" column="_tabs"/>
        <result property="_place" column="_place"/>
        <result property="chargable" column="chargable"/>
        <result property="borrower" column="borrower"/>
        <result property="borrowtime" column="borrowtime"/>
        <result property="pictureURL" column="pictureURL"/>
        <result property="srTime" column="srTime"/>
    </resultMap>-->

    <select id="searchAuthorByTitle" parameterType="String"
            resultType="String">
        SELECT `_author` FROM `librarybook` WHERE `_name` = #{_name}
    </select>

    <update id="changeChargableByISBN" parameterType="String">
        UPDATE librarybook
        SET _number=_number-1 WHERE ISBN=#{ISBN}
    </update>

    <select id="searchTitleByISBN" parameterType="String"
            resultType="String">
        SELECT _name from librarybook WHERE ISBN=#{ISBN}  LIMIT 1
    </select>

    <select id="searchChargableByISBN" parameterType="String"
            resultType="Integer">
        SELECT _number FROM librarybook WHERE ISBN=#{ISBN} LIMIT 1
    </select>

    <update id="changeNumberByTitle" parameterType="String">
        UPDATE librarybook
        SET _number=_number+1 WHERE _name=#{_name}
    </update>

    <select id="searchBeBorrowed" parameterType="String"
            resultType="Book">
        SELECT * FROM librarybook WHERE borrower=#{borrower}
    </select>

    <update id="returnBookByISBN" parameterType="String">
        UPDATE librarybook SET
            chargable=1, borrower="" WHERE serialVersionUID=#{serialVersionUID}
    </update>

    <insert id="addBook" parameterType="Book">
        INSERT INTO librarybook
        (ISBN,_name,_author,_authorCountry,_number,chargable,_publishingHouse,_tabs,_introduction,borrower,borrowtime,_place,pictureURL,srTime)
        VALUES(#{ISBN},#{_name},#{_author},#{_authorCountry},#{_number},1,#{_publishingHouse},#{_tabs},#{_introduction},"", "",#{_place},"","")
    </insert>

    <delete id="deleteBook" parameterType="Book">
        DELETE from librarybook WHERE
            ISBN=#{ISBN}
    </delete>

    <select id="searchHowManyByISBN" parameterType="String"
            resultType="Integer">
        SELECT COUNT(*) AS number FROM librarybook WHERE ISBN=#{ISBN}
    </select>

    <select id="searchSimilarBook" parameterType="Book"
            resultType="Book">
        SELECT DISTINCT `ISBN`,`_name`,`_author`,`_number` AS
            "numofborrowed" FROM
            librarybook WHERE
            _tabs=#{_tabs} AND
            _name!=#{_name} ORDER BY _number DESC LIMIT 2
    </select>

    <select id="searchBookDetail" resultType="Book">
        SELECT
            `ISBN`,`_name`,`_author`,`_authorCountry`,`_number`,`chargable`,`_publishingHouse`,`_tabs`,`_introduction`,`borrower`,`borrowtime`,`_place`,`pictureURL` FROM
            librarybook WHERE ISBN=#{ISBN} LIMIT 1
    </select>

    <select id="searchPicture" parameterType="String"
            resultType="String">
        SELECT pictureURL from librarybook WHERE ISBN=#{ISBN}
    </select>

    <select id="searchHotBook" resultType="Book">
        SELECT DISTINCT
            `_name`,`_author`,`_number`AS "numofborrowed",`pictureURL` FROM
            librarybook
        ORDER BY _number DESC LIMIT 5
    </select>


    <select id="fuzzySearchByTitle" parameterType="String"
            resultType="Book">
        SELECT *FROM librarybook WHERE _name LIKE '%${_name}%'
    </select>

    <select id="fuzzySearchByAuthor" parameterType="String"
            resultType="Book">
        SELECT *FROM librarybook WHERE _author LIKE '%${_author}%'
    </select>

    <select id="fuzzySearchByTabs" parameterType="String"
            resultType="Book">
        SELECT *FROM librarybook WHERE _tabs LIKE '%${_tabs}%'
    </select>

    <select id="fuzzySearchByTitleAndAuthor" parameterType="Book"
            resultType="Book">
        SELECT *FROM librarybook WHERE _name LIKE '%${_name}%' AND
                _author LIKE '%${_author}%'
    </select>

    <select id="fuzzySearchByTitleAndTabs" parameterType="Book"
            resultType="Book">
        SELECT *FROM librarybook WHERE _name LIKE '%${_name}%' AND
            _tabs LIKE '%${_tabs}%'
    </select>

    <update id="changeBorrowerByISBN" parameterType="Map">
        UPDATE librarybook
        SET `borrower` = #{borrower} ,chargable=0,borrowtime=(SELECT CURDATE()), srTime=date_add(CURDATE(),interval 1 MONTH) WHERE ISBN=#{ISBN} AND chargable =1 LIMIT 1
    </update>

    <update id="changeTabsByISBN" parameterType="Map">
        UPDATE librarybook
        SET `_tabs` = #{_tabs} WHERE ISBN=#{ISBN}
    </update>
    <update id="changeNumByISBN" parameterType="Map">
        UPDATE librarybook
        SET `_number` = #{_number} WHERE ISBN=#{ISBN}
    </update>
    <update id="changePlaceByISBN" parameterType="Map">
        UPDATE librarybook
        SET `_place` = #{_place} WHERE ISBN=#{ISBN}
    </update>
    <select id="getBorrowerByISBN" parameterType="String"
            resultType="String">
        SELECT `borrower` FROM `librarybook` WHERE `ISBN` = #{ISBN}
        LIMIT 1
    </select>

    <select id="getBorrowedBook" parameterType="String"
            resultType="Book">
        SELECT * FROM `librarybook` WHERE `borrower` = #{cardNumber}
    </select>
    <select id="checkBorrowTime" parameterType="String"
            resultType="Integer">
        SELECT DATEDIFF((SELECT CURDATE()),(SELECT borrowtime FROM
            librarybook WHERE ISBN=#{ISBN}))
    </select>

    <select id="checkRenewOrNot" parameterType="String"
            resultType="Integer">
        SELECT _number FROM `librarybook` WHERE ISBN=#{ISBN}
    </select>

    <update id="renewBook" parameterType="String">
        UPDATE librarybook
        SET borrowtime=(SELECT CURDATE()),srTime=DATE_ADD(SELECT CURDATE(),INTERVAL 1 MONTH) WHERE ISBN=#{ISBN}
    </update>

</mapper>
