<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.vcampus.dao.ICourseMapper">
    <update id="takeCourse" parameterType="Student">
        UPDATE students SET
            selectedcourse=#{courseList} WHERE
            cardNumber=#{cardNumber}
    </update>
    <select id="getCourseSelection" parameterType="Student"
            resultType="String">
        SELECT selectedcourse FROM students WHERE
            cardNumber=#{cardNumber}
    </select>
    <select id="getOneCourse" parameterType="String"
            resultType="Course">
        SELECT `id`,courseName,`time`,`teacher`,`classroom`,
               `teacherCard`,`credit`,`semester`,`capacity`,`selectedNumber`,`major`,`students` FROM
            `courses` WHERE id=#{id} LIMIT 1
    </select>
    <select id="getCourseOfOneTeacher" parameterType="String"
            resultType="Course">
        SELECT * FROM
            `courses` WHERE teacherCard=#{cardNumber}
    </select>
    <insert id="insertNewCourse" parameterType="Course">
        INSERT INTO
            `courses` VALUES (#{id}, #{courseName}, #{time}, #{teacher},
                               #{classroom},  #{teacherCard})
    </insert>
    <delete id="deleteCourse" parameterType="String">
        DELETE FROM
            `courses`
        WHERE `id` = #{id} LIMIT 1
    </delete>

    <select id="getStudentOfOneCourse" parameterType="String"
            resultType="String">
        SELECT `students` FROM `courses` WHERE id=#{id} LIMIT 1
    </select>
    <update id="updateScoreOfOneCourse" parameterType="Map">
        UPDATE courses
        SET `students` = #{content} WHERE `id` = #{classId} LIMIT 1
    </update>

    <update id="setSelectedNumber" parameterType="Course">
        UPDATE courses SET
            `selectedNumber`=#{selectedNumber} WHERE
            `id`=#{id}
    </update>

    <select id="getAllCourses"
            resultType="Course">
        SELECT *FROM courses
    </select>

    <select id="fuzzySearchById" parameterType="String"
            resultType="Course">
        SELECT *FROM courses WHERE id LIKE '%${_parameter}%'
    </select>

    <select id="fuzzySearchByName" parameterType="String"
            resultType="Course">
        SELECT *FROM courses WHERE courseName LIKE '%${_parameter}%'
    </select>

    <select id="fuzzySearchByMajor" parameterType="String"
            resultType="Course">
        SELECT *FROM courses WHERE major LIKE '%${_parameter}%'
    </select>

    <select id="fuzzySearchByTeacher" parameterType="String"
            resultType="Course">
        SELECT *FROM courses WHERE teacher LIKE '%${_parameter}%'
    </select>
    <update id="setCourse" parameterType="Course">
        UPDATE courses SET
            semester=#{semester},
            courseName=#{courseName},
            major=#{major},
            teacher=#{teacher},
            time=#{time},
            classroom=#{classroom},
            capacity=#{capacity},
            selectedNumber=#{selectedNumber},
            credit=#{credit} WHERE id=#{id}
    </update>

    <insert id="addLineInCourseScore" parameterType="CourseScore">
        INSERT INTO
            `courseScore` (studentCardNumber,courseId,status) VALUES (#{studentCardNumber}, #{courseId}, #{status})
    </insert>

    <delete id="deleteLineFromCourseScore" parameterType="CourseScore">
        DELETE FROM
            `courseScore`
        WHERE `studentCardNumber` = #{studentCardNumber} AND courseId = #{courseId} LIMIT 1
    </delete>

    <select id="getCourseScore" parameterType="CourseScore"
            resultType="CourseScore">
        SELECT *FROM courseScore WHERE `studentCardNumber` = #{studentCardNumber} AND courseId = #{courseId} LIMIT 1
    </select>

    <update id="setScore" parameterType="CourseScore">
        UPDATE courseScore SET
                           score=#{score} WHERE `studentCardNumber` = #{studentCardNumber} AND courseId = #{courseId} LIMIT 1
    </update>
</mapper>