<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.vcampus.dao.IStudentMapper">

    <!-- Used By Auth Module -->
    <select id="verifyStudent" parameterType="Student"
            resultType="boolean">
        SELECT COUNT(*) FROM `students` WHERE
            `cardNumber`=#{cardNumber} AND `password`=#{password}
    </select>
    <select id="getStudentDetailByCardNumber" parameterType="String"
            resultType="Student">
        SELECT * FROM `students` WHERE
            `cardNumber`=#{cardNumber}
    </select>

    <select id="getNameByCardNumber" parameterType="String"
            resultType="String">
        SELECT `name` FROM `students` WHERE
            `cardNumber`=#{cardNumber}
    </select>

    <select id="getSaltByCardNumber" parameterType="String"
            resultType="String">
        SELECT `salt` FROM `students` WHERE
            `cardNumber`=#{cardNumber}
    </select>

    <select id="getPasswordByCardNumber" parameterType="String"
            resultType="String">
        SELECT `password` FROM `students` WHERE
            `cardNumber`=#{cardNumber}
    </select>

    <insert id="insertStudent" parameterType="Student">
        INSERT INTO
            `students` VALUES (#{cardNumber}, #{studentNumber}, #{password},
                                 #{school}, #{name}, 0, "")
    </insert>

    <delete id="deleteStudent" parameterType="String">
        DELETE FROM
            `students` WHERE cardNumber = #{cardNumber}
    </delete>

    <select id="searchStudentByCardNumber" parameterType="String"
            resultType="Integer">
        SELECT COUNT(*) FROM `students` WHERE `cardNumber` =
                                                #{cardNumber}
    </select>

    <select id="searchStudentByStudentNumber" parameterType="String"
            resultType="Integer">
        SELECT COUNT(*) FROM `students` WHERE `studentNumber` =
                                                #{studentNumber}
    </select>

    <update id="switchStudent" parameterType="Student">
        UPDATE `students` SET
                                `school` = #{school}, `studentNumber` = #{studentNumber} WHERE
            `cardNumber` = #{cardNumber}
    </update>

    <select id="tableDisplay" parameterType="Map"
            resultType="Student">
        SELECT `cardNumber`, `studentNumber`, `school`,`name`
        FROM `students`
        WHERE `studentNumber` LIKE
              CONCAT(#{school},'_',#{grade},'%')
    </select>

    <select id="getBalance" parameterType="String"
            resultType="String">
        SELECT `balance` FROM `students` WHERE `cardNumber` =
                                                 #{cardNumber} LIMIT 1
    </select>

    <update id="chargeCard" parameterType="Map">
        UPDATE `students` SET
            `balance` = `balance` + #{money} WHERE `cardNumber`
                                                       = #{cardNumber}
        LIMIT 1
    </update>

    <update id="resetPassword" parameterType="Map">
        UPDATE `students` SET
            `password` = #{password} WHERE `cardNumber`
                                               = #{cardNumber}
        LIMIT 1
    </update>

    <select id="getBankAccountByCardNumber" parameterType="String"
            resultType="String">
        SELECT `bankAccount` FROM `students` WHERE
            `cardNumber`=#{cardNumber}
    </select>
</mapper>