<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.vcampus.dao.ITeacherMapper">

    <!-- Used By Auth Module -->
    <select id="verifyTeacher" parameterType="Teacher"
            resultType="boolean">
        SELECT COUNT(*) FROM `teachers` WHERE
            `cardNumber`=#{cardNumber} AND `password`=#{password}
    </select>
    <select id="getTeacherDetailByCardNumber" parameterType="String"
            resultType="Teacher">
        SELECT * FROM `teachers` WHERE
            `cardNumber`=#{cardNumber}
    </select>

    <select id="getNameByCardNumber" parameterType="String"
            resultType="String">
        SELECT `name` FROM `teachers` WHERE
            `cardNumber`=#{cardNumber}
    </select>

    <select id="getSaltByCardNumber" parameterType="String"
            resultType="String">
        SELECT `salt` FROM `teachers` WHERE
            `cardNumber`=#{cardNumber}
    </select>

    <select id="getPasswordByCardNumber" parameterType="String"
            resultType="String">
        SELECT `password` FROM `teachers` WHERE
            `cardNumber`=#{cardNumber}
    </select>

    <insert id="insertTeacher" parameterType="Teacher">
        INSERT INTO
            `teachers` VALUES (#{name},"","",#{cardNumber}, #{teacherNumber},
                               "","","",0,"", #{school},  #{teacherRank}, #{gender},  #{email},#{homepage},
                               #{phoneNumber},"")
    </insert>

    <delete id="deleteTeacher" parameterType="String">
        DELETE FROM
            `teachers` WHERE cardNumber = #{cardnumber}
    </delete>

    <select id="searchTeacherByCardNumber" parameterType="String"
            resultType="Integer">
        SELECT COUNT(*) FROM `teachers` WHERE `cardNumber` =
                                              #{cardnumber}
    </select>

    <select id="searchStudentByTeacherNumber" parameterType="String"
            resultType="Integer">
        SELECT COUNT(*) FROM `teachers` WHERE `teacherNumber` =
                                              #{teacherNumber}
    </select>

    <!--
        <update id="switchTeacher" parameterType="Teacher">
            UPDATE `teachers` SET
                                  `school` = #{school}, `teacherNumber` = #{teacherNumber} WHERE
                `cardNumber` = #{cardNumber}
        </update>
    -->
    <!--
    <select id="tableDisplay" parameterType="Map"
            resultType="Teacher">
        SELECT `cardNumber`, `name`
        FROM `teachers`
        WHERE `teacherNumber` LIKE
              CONCAT(#{school},'_',#{grade},'%')
    </select>
-->
    <select id="getBalance" parameterType="String"
            resultType="BigDecimal">
        SELECT `balance` FROM `teachers` WHERE `cardNumber` =
                                               #{cardNumber} LIMIT 1
    </select>
<!-- 充钱 -->
    <update id="chargeCard" parameterType="Map">
        UPDATE `teachers` SET
            `balance` = `balance` + #{money} WHERE `cardNumber`
                                                       = #{cardNumber}
        LIMIT 1
    </update>

    <update id="setBalance" parameterType="Map">
        UPDATE `teachers` SET
            `balance` = #{money} WHERE `cardNumber`
                                           = #{cardNumber}
        LIMIT 1
    </update>

    <update id="resetPassword" parameterType="Map">
        UPDATE `teachers` SET
            `password` = #{password} WHERE `cardNumber`
                                               = #{cardNumber}
        LIMIT 1
    </update>

    <select id="fuzzySearchByName" parameterType="String"
            resultType="Teacher">
        SELECT *FROM teachers WHERE name LIKE '%${name}%'
    </select>

    <select id="fuzzySearchByCard" parameterType="String"
            resultType="Teacher">
        SELECT *FROM teachers WHERE cardNumber LIKE '%${cardNumber}%'
    </select>

    <select id="fuzzySearchBySchool" parameterType="String"
            resultType="Teacher">
        SELECT *FROM teachers WHERE school LIKE '%${school}%'
    </select>

    <select id="fuzzySearchByGender" parameterType="String"
            resultType="Teacher">
        SELECT *FROM teachers WHERE gender LIKE '%${gender}%'
    </select>

    <select id="fuzzySearchByNameAndCard" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE name LIKE '%${name}%' AND
            cardNumber LIKE '%${cardNumber}%'
    </select>

    <select id="fuzzySearchByNameAndSchool" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE name LIKE '%${name}%' AND
            school LIKE '%${school}%'
    </select>

    <select id="fuzzySearchByNameAndGender" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE name LIKE '%${name}%' AND
            gender LIKE '%${gender}%'
    </select>

    <select id="fuzzySearchByCardAndSchool" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE cardNumber LIKE '%${cardNumber}%' AND
            school LIKE '%${school}%'
    </select>

    <select id="fuzzySearchByCardAndGender" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE cardNumber LIKE '%${cardNumber}%' AND
            gender LIKE '%${gender}%'
    </select>

    <select id="fuzzySearchBySchoolAndGender" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE school LIKE '%${school}%' AND
            gender LIKE '%${gender}%'
    </select>

    <select id="fuzzySearchByNameAndCardAndSchool" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE name LIKE '%${name}%' AND
            cardNumber LIKE '%${cardNumber}%' AND school LIKE '%${school}%'
    </select>

    <select id="fuzzySearchByNameAndCardAndGender" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE name LIKE '%${name}%' AND
            cardNumber LIKE '%${cardNumber}%' AND gender LIKE '%${gender}%'
    </select>

    <select id="fuzzySearchByCardAndSchoolAndGender" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE cardNumber LIKE '%${cardNumber}%' AND school LIKE '%${school}%'
                                AND gender LIKE '%${gender}%'
    </select>

    <select id="fuzzySearchByNameAndSchoolAndGender" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE name LIKE '%${name}%' AND school LIKE '%${school}%'
                                AND gender LIKE '%${gender}%'
    </select>

    <select id="fuzzySearchByNameAndCardAndSchoolAndGender" parameterType="Teacher"
            resultType="Teacher">
        SELECT *FROM teachers WHERE name LIKE '%${name}%' AND cardNumber LIKE '%${cardNumber}%'
                                AND school LIKE '%${school}%' AND gender LIKE '%${gender}%'
    </select>

    <update id="resetTeacherNumberByCard" parameterType="Map">
        UPDATE teachers
        SET `teacherNumber` = #{teacherNumber} WHERE cardNumber=#{cardNumber}
    </update>

    <update id="resetSchoolByCard" parameterType="Map">
        UPDATE teachers
        SET `school` = #{school} WHERE cardNumber=#{cardNumber}
    </update>

    <update id="resetTeacherRankByCard" parameterType="Map">
        UPDATE teachers
        SET `teacherRank` = #{teacherRank} WHERE cardNumber=#{cardNumber}
    </update>
</mapper>